[simulation_parameters]
    # whether to simulate until reaching a steady state is reached or not
    # if steady define `.true.`, if tidal define `.false.`
    steadyFlow = .false.

    # Maximum simulation time in seconds, set to a large value for steady flow
    simTime = 500.0d0

    # Number of total iterations
    itera_no = 100

    # Length of domain in x direction in metres
    domainX = 100.0d0

    # Length of domain in y direction in metres
    domainY = 50.0d0

    # Distance between nodes
    dx = 10.0d0

    # Time step in seconds
    dt = 0.07d0

    # Dimensionless relaxation time
    tau = 1.0d0

    # value under which the total sum of residuals of every node must be under in order to determine the steady state has been reached
    epsilon = 1.0d-8

    # consistency criterion to ensure no non-physical behaviour is present at boundaries
    consCriter = 1.0d-3

    # all forcing schemes to choose from "bg": Buick-Greated, "gzs": Guo-Zheng-Shi
    all_forcing_schemes = "BG ", "GZS"

    # forcing scheme chosen
    forcing_scheme = "BG"

[physical_constants]
    # Manning constant
    nb = 0.012d0
